@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  position: relative;
  height: auto;
  min-height: 100%;
  font-family: 'Courier New', Courier, monospace !important;
}

.App {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.App-header {
  background-color: #358097;
  padding: 30px 20px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.App-header h1 {
  font-size: 2.5em;
}

.App-body {
  margin-top: 40px;
  padding: 20px;
  color: #333;
  text-align: left;
  max-width: 1500px;
  margin: 20px auto 70px;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.App-body h2 {
  color: #28515e;
  margin-bottom: 20px;
}

.App-body h4 {
  color: #375f6b;
  margin-bottom: 20px;
}

.App-body p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.App-footer {
  background-color: #358097;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

.App-footer p {
  margin: 0;
}

.images{
  width: 60%;
  max-width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashed-list {
  list-style-type: none;
}

.dashed-list li:before {
  content: "- ";
}

@media (max-width: 768px) {
  .App-footer {
    font-size: 0.7em;
  }
  .images{
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar.navbar-expand-lg .nav-link:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
